<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <!-- 引入 db.properties 属性文件 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- 自动将 Service 层注入 -->
    <context:component-scan base-package="com.ssm.service"/>

    <!-- 定义一个 jdbc 数据源，创建一个驱动管理数据源的 bean -->
    <bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- mybatis 配置文件，创建一个 sql 会话工厂 bean，指定数据源 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="jdbcDataSource"/>
        <!-- 类型别名包，引入 com.ssm.entity下的所有类 -->
        <property name="typeAliasesPackage" value="com.ssm.entity"></property>
        <!-- 指定 sql 映射 xml 文件的路径 -->
        <property name="mapperLocations" value="classpath:/BookMapper.xml"></property>
    </bean>

    <!-- spring 与 mybatis 整合配置,自动扫描映射接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定 sql 会话工厂，上面已经配置 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!-- 指定基础包，即自动扫描 com.ssm.dao这个包下的所有接口类 -->
        <property name="basePackage" value="com.ssm.dao"></property>
    </bean>

    <!-- 创建一个 sqlSession 对象 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- 自动扫描组件 -->
    <context:component-scan base-package="com.ssm">
        <context:exclude-filter type="aspectj" expression="com.ssm.dao.*"/>
    </context:component-scan>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>


</beans>